################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/x64
/autodiff.vcxproj.user
/CppProperties.json
/autodiff_tests.playlist
/autodiff.vcxproj.filters
/autodiff.vcxproj
/autodiff.sln
*.vcxproj
*.filters
*.suo
*.sln
/autodiff/autodiff.VC.db
/autodiff.VC.db
/build/
