#           Copyright Matthew Pulver 2018 - 2019.
# Distributed under the Boost Software License, Version 1.0.
#      (See accompanying file LICENSE_1_0.txt or copy at
#           https://www.boost.org/LICENSE_1_0.txt)

language: cpp

cache:
  directories:
    - $HOME/cache3
    - $HOME/.sonar/cache

anchors:
  clang-38: &clang-38 { apt: { packages: [ "clang-3.8",
                                           "libstdc++-6-dev" ], sources: [ "llvm-toolchain-trusty-3.8",
                                                                           "ubuntu-toolchain-r-test"   ] } }
  clang-4:  &clang-4  { apt: { packages: [ "clang-4.0",
                                           "libstdc++-6-dev" ], sources: [ "llvm-toolchain-trusty-4.0",
                                                                           "ubuntu-toolchain-r-test"   ] } }
  clang-5:  &clang-5  { apt: { packages: [ "clang-5.0",
                                           "libstdc++-7-dev" ], sources: [ "llvm-toolchain-trusty-5.0",
                                                                           "ubuntu-toolchain-r-test"   ] } }
  clang-6:  &clang-6  { apt: { packages: [ "clang-6.0",
                                           "libc++-dev",
                                           "libstdc++-8-dev" ], sources: [ "llvm-toolchain-trusty-6.0",
                                                                           "ubuntu-toolchain-r-test"   ] } }
  gcc-6:    &gcc-6    { apt: { packages: [ "g++-6"           ], sources: [ "ubuntu-toolchain-r-test"   ] } }
  gcc-7:    &gcc-7    { apt: { packages: [ "g++-7"           ], sources: [ "ubuntu-toolchain-r-test"   ] } }
  gcc-8:    &gcc-8    { apt: { packages: [ "g++-8"           ], sources: [ "ubuntu-toolchain-r-test"   ] }, sonarcloud: { organization: kedarbhat-github } }

jobs:
  allow_failures:
    - env:
        - COPY="all the environment settings from your job"

  include:
    # libstdc++
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-6 && CXX=g++-6 && COMPILER=g++-6 && CXXSTD=c++11"                                            ], addons: *gcc-6    }
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-6 && CXX=g++-6 && COMPILER=g++-6 && CXXSTD=c++14"                                            ], addons: *gcc-6    }
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-7 && CXX=g++-7 && COMPILER=g++-7 && CXXSTD=c++11"                                            ], addons: *gcc-7    }
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-7 && CXX=g++-7 && COMPILER=g++-7 && CXXSTD=c++14"                                            ], addons: *gcc-7    }
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-7 && CXX=g++-7 && COMPILER=g++-7 && CXXSTD=c++17"                                            ], addons: *gcc-7    }
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-8 && CXX=g++-8 && COMPILER=g++-8 && CXXSTD=c++11"                                            ], addons: *gcc-8    }
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-8 && CXX=g++-8 && COMPILER=g++-8 && CXXSTD=c++14"                                            ], addons: *gcc-8    }
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-8 && CXX=g++-8 && COMPILER=g++-8 && CXXSTD=c++17"                                            ], addons: *gcc-8    }
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-8 && CXX=g++-8 && COMPILER=g++-8 && CXXSTD=c++2a"                                            ], addons: *gcc-8    }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-3.8 && CXX=clang++-3.8 && COMPILER=clang++-3.8 && CXXSTD=c++11"                            ], addons: *clang-38 }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-3.8 && CXX=clang++-3.8 && COMPILER=clang++-3.8 && CXXSTD=c++14"                            ], addons: *clang-38 }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-4.0 && CXX=clang++-4.0 && COMPILER=clang++-4.0 && CXXSTD=c++11"                            ], addons: *clang-4  }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-4.0 && CXX=clang++-4.0 && COMPILER=clang++-4.0 && CXXSTD=c++14"                            ], addons: *clang-4  }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-5.0 && CXX=clang++-5.0 && COMPILER=clang++-5.0 && CXXSTD=c++11"                            ], addons: *clang-5  }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-5.0 && CXX=clang++-5.0 && COMPILER=clang++-5.0 && CXXSTD=c++14"                            ], addons: *clang-5  }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-5.0 && CXX=clang++-5.0 && COMPILER=clang++-5.0 && CXXSTD=c++17"                            ], addons: *clang-5  }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-6.0 && CXX=clang++-6.0 && COMPILER=clang++-6.0 && CXXSTD=c++11"                            ], addons: *clang-6  }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-6.0 && CXX=clang++-6.0 && COMPILER=clang++-6.0 && CXXSTD=c++14"                            ], addons: *clang-6  }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-6.0 && CXX=clang++-6.0 && COMPILER=clang++-6.0 && CXXSTD=c++17"                            ], addons: *clang-6  }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-6.0 && CXX=clang++-6.0 && COMPILER=clang++-6.0 && CXXSTD=c++2a"                            ], addons: *clang-6  }

    # libc++
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-6.0 && CXX=clang++-6.0 && COMPILER=clang++-6.0 && CXXSTD=c++11 && CXXFLAGS=-stdlib=libc++" ], addons: *clang-6   }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-6.0 && CXX=clang++-6.0 && COMPILER=clang++-6.0 && CXXSTD=c++14 && CXXFLAGS=-stdlib=libc++" ], addons: *clang-6   }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-6.0 && CXX=clang++-6.0 && COMPILER=clang++-6.0 && CXXSTD=c++17 && CXXFLAGS=-stdlib=libc++" ], addons: *clang-6   }
    - { os: "linux", compiler: "clang", env: [ MATRIX_EVAL: "CC=clang-6.0 && CXX=clang++-6.0 && COMPILER=clang++-6.0 && CXXSTD=c++2a && CXXFLAGS=-stdlib=libc++" ], addons: *clang-6   }

    # osx
    - { os: "osx", env: [ MATRIX_EVAL: "COMPILER=clang++ && CXXSTD=c++11" ], osx_image: "xcode9.3" }
    - { os: "osx", env: [ MATRIX_EVAL: "COMPILER=clang++ && CXXSTD=c++14" ], osx_image: "xcode9.3" }
    - { os: "osx", env: [ MATRIX_EVAL: "COMPILER=clang++ && CXXSTD=c++17" ], osx_image: "xcode9.3" }

    # SonarCloud, CodeCov (Latest GCC)
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-8 && CXX=g++-8 && COMPILER=g++-8 && CXXSTD=c++11 && CODE_ANALYSIS=1"  ], addons: *gcc-8 }
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-8 && CXX=g++-8 && COMPILER=g++-8 && CXXSTD=c++14 && CODE_ANALYSIS=1"  ], addons: *gcc-8 }
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-8 && CXX=g++-8 && COMPILER=g++-8 && CXXSTD=c++17 && CODE_ANALYSIS=1"  ], addons: *gcc-8 }
    - { os: "linux", compiler: "gcc",   env: [ MATRIX_EVAL: "CC=gcc-8 && CXX=g++-8 && COMPILER=g++-8 && CXXSTD=c++2a && CODE_ANALYSIS=1"  ], addons: *gcc-8 }

before_install:
  - if [ \! -d $HOME/cache3/boost_1_69_0 ]; then curl -L -s -S https://dl.bintray.com/boostorg/release/1.69.0/source/boost_1_69_0.tar.gz | tar xz -C $HOME/cache3 -f -; fi
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then brew update && brew install gcc; fi
  - eval "${MATRIX_EVAL}"

script:
  - ls
  - $COMPILER --version
  - if [ -z "${CODE_ANALYSIS}" ]; then $COMPILER test/test_autodiff1.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff; fi
  - if [ -z "${CODE_ANALYSIS}" ]; then $COMPILER test/test_autodiff2.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff; fi
  - if [ -z "${CODE_ANALYSIS}" ]; then $COMPILER test/test_autodiff3.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff; fi
  - if [ -z "${CODE_ANALYSIS}" ]; then $COMPILER test/test_autodiff4.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff; fi
  - if [ -z "${CODE_ANALYSIS}" ]; then $COMPILER test/test_autodiff5.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff; fi
  - if [ -z "${CODE_ANALYSIS}" ]; then $COMPILER test/test_autodiff6.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff; fi
  - if $(env | grep -q ^CODE_ANALYSIS=); then build-wrapper-linux-x86-64 --out-dir bw-outputs $COMPILER test/test_autodiff1.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff ; fi
  - ./test_autodiff1
  - if $(env | grep -q ^CODE_ANALYSIS=); then build-wrapper-linux-x86-64 --out-dir bw-outputs $COMPILER test/test_autodiff2.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff ; fi
  - ./test_autodiff2
  - if $(env | grep -q ^CODE_ANALYSIS=); then build-wrapper-linux-x86-64 --out-dir bw-outputs $COMPILER test/test_autodiff3.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff ; fi
  - ./test_autodiff3
  - if $(env | grep -q ^CODE_ANALYSIS=); then build-wrapper-linux-x86-64 --out-dir bw-outputs $COMPILER test/test_autodiff4.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff ; fi
  - ./test_autodiff4
  - if $(env | grep -q ^CODE_ANALYSIS=); then build-wrapper-linux-x86-64 --out-dir bw-outputs $COMPILER test/test_autodiff5.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff ; fi
  - ./test_autodiff5
  - if $(env | grep -q ^CODE_ANALYSIS=); then build-wrapper-linux-x86-64 --out-dir bw-outputs $COMPILER test/test_autodiff6.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -o test_autodiff ; fi
  - ./test_autodiff6
  - if $(env | grep -q ^CODE_ANALYSIS=); then sonar-scanner; fi

after_success:
  - if $(env | grep -q ^CODE_ANALYSIS=); then if pyenv shell 3.6.3; then pip3 install --user codecov; fi; fi
  - if $(env | grep -q ^CODE_ANALYSIS=); then if $COMPILER test/test_autodiff1.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -O0 --coverage -o test_autodiff; then ./test_autodiff; fi; fi
  - if $(env | grep -q ^CODE_ANALYSIS=); then if $COMPILER test/test_autodiff2.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -O0 --coverage -o test_autodiff; then ./test_autodiff; fi; fi
  - if $(env | grep -q ^CODE_ANALYSIS=); then if $COMPILER test/test_autodiff3.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -O0 --coverage -o test_autodiff; then ./test_autodiff; fi; fi
  - if $(env | grep -q ^CODE_ANALYSIS=); then if $COMPILER test/test_autodiff4.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -O0 --coverage -o test_autodiff; then ./test_autodiff; fi; fi
  - if $(env | grep -q ^CODE_ANALYSIS=); then if $COMPILER test/test_autodiff5.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -O0 --coverage -o test_autodiff; then ./test_autodiff; fi; fi
  - if $(env | grep -q ^CODE_ANALYSIS=); then if $COMPILER test/test_autodiff6.cpp -std=$CXXSTD -I$HOME/cache3/boost_1_69_0 -Iinclude -Wall -O0 --coverage -o test_autodiff; then ./test_autodiff; fi; fi
  - if $(env | grep -q ^CODE_ANALYSIS=); then bash <(curl -s https://codecov.io/bash) -X coveragepy -x gcov-7 -a --relative-only; fi
